---
---
@import "{{ site.theme }}";

.wrapper {
	width: 1200px;
}

footer {
	width: 1200px;
}

navigation {
	padding: 5px 0px;
	display: block;
	text-align: center;
	font-weight: 500;
	font-size: 130%;
}

ul > * > ul {
	margin: 0;
}

navigation a {
	padding: 0 10px;
}